{% extends 'back.html.twig' %}

{% block title %}New Device{% endblock %}

{% block body %}
    <!-- Default Basic Forms Start -->
    <div class="main-container">
        <div class="pd-ltr-20 xs-pd-20-10">
            <div class="min-height-200px">
                <div class="pd-20 card-box mb-30">
                    <div class="clearfix">
                        <div class="pull-left">
                            <h4 class="text-blue h4">Update Device</h4>
                            <p class="mb-30"></p>
                        </div>

                    </div>
                    {{ form_start(form,{'attr': {'novalidate': 'novalidate'}},{'attr': {'class': 'signup-form'}}) }}
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 col-form-label">nombre Device</label>
                        <div class="col-sm-12 col-md-10">
                            {{ form_errors(form.nbrdevice) }}
                            {{ form_widget(form.nbrdevice,{'attr':{'placeholder':'nombre Devices*','class':'form-control'}}) }}


                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 col-form-label">nom</label>
                        <div class="col-sm-12 col-md-10">
                            {{ form_errors(form.nom) }}
                            {{ form_widget(form.nom,{'attr':{'placeholder':'duree*','class':'form-control'}}) }}


                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 col-form-label">Durée</label>
                        <div class="col-sm-12 col-md-10">
                            {{ form_errors(form.duree) }}
                            {{ form_widget(form.duree,{'attr':{'placeholder':'duree*','class':'form-control'}}) }}


                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 col-form-label">Domaine Application</label>
                        <div class="col-sm-12 col-md-10">
                            {{ form_errors(form.domaineApplication) }}
                            {{ form_widget(form.domaineApplication,{'attr':{'placeholder':'domaineApplication*','class':'form-control'}}) }}


                        </div>
                    </div>
                    <div class="form-group row">

                        <label class="col-sm-12 col-md-2 col-form-label">nombre d'accès</label>
                        <div class="col-sm-12 col-md-10">
                            {{ form_errors(form.nbracces) }}
                            {{ form_widget(form.nbracces,{'attr':{'placeholder':'nbracces*','class':'form-control'}}) }}


                        </div>

                        <div class="col-sm-12 col-md-10">
                            <br>
                            <br>
                            {{ form_widget(form.confirmer,{'attr':{'style':'border-color: #0080FF;background:#0080FF;width:100%;height: 46px;font-size: 14px;color: #c4c4c4;margin-left:190px;'}}) }}


                        </div>

                    </div>

                    {{ form_end(form) }}
                    </code></pre>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
{% endblock %}
