{% extends 'base.html.twig' %}

{% block title %}New Client{% endblock %}

{% block body %}
    {% form_theme form 'bootstrap_4_layout.html.twig' %}

    <!-- Breadcrumb Section End -->

    <!-- Contact Section Begin -->
    <section class="contact-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-title contact-title">
                        <span>CHALLENGEONE</span>
                        <h2>PREMIER SATELLITE TUNISIEN

                        </h2>

                    </div>

                </div>
                <div class="col-lg-8">
                    <div class="leave-comment">

                        <h2 style="color: #004999;margin-bottom: 30px;margin-left:480px;">Modifier Votre Profil</h2>
                        <p style="color: #FFFFFF;margin-bottom: 30px;margin-left:450px;">REMPLIR LE FORMULAIRE</p>
                        {{ error }}

                        {{ form_start(form,{'attr': {'novalidate': 'novalidate'}},{'attr':{'placeholder':'nom*','style':'border-color: #0080FF;background:transparent;width:80%;height: 46px;font-size: 14px;color: #c4c4c4;margin-bottom: 30px;margin-left:250px;'}}) }}

                        {{ form_errors(form.nom) }}
                        {{ form_widget(form.nom,{'attr':{'placeholder':'nom*','style':'border-color: #0080FF;background:transparent;width:80%;height: 46px;font-size: 14px;color: #c4c4c4;margin-bottom: 30px;margin-left:250px;'}}) }}
                        <br>
                        {{ form_errors(form.prenom) }}
                        {{ form_widget(form.prenom,{'attr':{'placeholder':'prenom*','style':'border-color: #0080FF;background:transparent;width:80%;height: 46px;font-size: 14px;color: #c4c4c4;margin-bottom: 30px;margin-left:250px;'}}) }}
                        <br>
                        {{ form_errors(form.email) }}
                        {{ form_widget(form.email,{'attr':{'placeholder':'email*','style':'border-color: #0080FF;background:transparent;width:80%;height: 46px;font-size: 14px;color: #c4c4c4;margin-bottom: 30px;margin-left:250px;'}}) }}
                        <br>  {{ form_errors(form.password) }}
                        {{ form_widget(form.password,{'attr':{'placeholder':'mot de passe*','style':'border-color: #0080FF;background:transparent;width:80%;height: 46px;font-size: 14px;color: #c4c4c4;margin-bottom: 30px;margin-left:250px;'}}) }}
                        {{ form_errors(form.verifpassword) }}
                        <br>  {{ form_widget(form.verifpassword,{'attr':{'placeholder':'mot de passe*','style':'border-color: #0080FF;background:transparent;width:80%;height: 46px;font-size: 14px;color: #c4c4c4;margin-bottom: 30px;margin-left:250px;'}}) }}
                        {{ form_errors(form.numtel) }}
                        {{ form_widget(form.numtel,{'attr':{'placeholder':'numéro de téléphone*','style':'border-color: #0080FF;background:transparent;width:80%;height: 46px;font-size: 14px;color: #c4c4c4;margin-bottom: 30px;margin-left:250px;'}}) }}


                        {{ form_widget(form.confirmer,{'attr':{'style':'border-color: #0080FF;background:#004999;width:80%;height: 46px;font-size: 14px;color: #c4c4c4;margin-bottom: 30px;margin-left:250px;'}}) }}



                        {{ form_end(form) }}
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- Contact Section End -->

{% endblock %}
