
{% extends 'back.html.twig' %}

{% block title %}Device index{% endblock %}

{% block body %}
    <div class="main-container">
        <div class="pd-ltr-20 xs-pd-20-10">
            <div class="min-height-200px">
                <div class="page-header">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="title">
                                <h4>Devices Tables</h4>
                            </div>
                            <nav aria-label="breadcrumb" role="navigation">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Devices Autorisation</li>
                                </ol>
                            </nav>
                        </div>
                        <div class="col-md-6 col-sm-12 text-right">
                            <div class="dropdown">
                                <a class="btn btn-primary dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                                    {{ "now"|date("m/d/Y") }}
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- basic table  Start -->
                <div class="pd-20 card-box mb-30">
                    <div class="clearfix mb-20">
                        <div class="pull-left">
                            <h4 class="text-blue h4">Devices Autorisation</h4>
                        </div>

                    </div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Serialnumber</th>
                            <th>Designiation</th>
                            <th>Domaine</th>
                            <th>Bilanhydrique</th>
                            <th>TemperatureAgrigole</th>
                            <th>TemperatureSante</th>
                            <th>Blood</th>
                            <th>Heartbeat</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for autorisation in autorisations %}
                            <tr>

                                <td>{{ autorisation.device.serialnumber }}</td>
                                <td>{{ autorisation.device.designiation }}</td>
                                <td>{{ autorisation.device.domaineApplication.nom }} </td>
                                    {% if autorisation.bilanhydrique==0 and autorisation.device.domaineApplication.nom=='agricole'  %}
                                    <td><button type="button" class="btn btn-info"> <a href="{{ path('autorisebilanhydrique', {'id': autorisation.id}) }}">Autoriser</a></button></td>

                                    {% elseif autorisation.bilanhydrique==1 and autorisation.device.domaineApplication.nom=='agricole' %}
                                <td><button type="button" class="btn btn-info"> <a href="{{ path('interdirebilanhydrique', {'id': autorisation.id}) }}">Interdire</a></button>
                                    {% else %}

                                <td> Rien </td>

                                    {% endif %}
                                    {% if autorisation.temperatureAgrigole==0 and autorisation.device.domaineApplication.nom=='agricole'  %}
                                <td><button type="button" class="btn btn-info"> <a href="{{ path('autorisetemperatureAgrigole', {'id': autorisation.id}) }}">Autoriser</a></button></td>

                                {% elseif autorisation.temperatureAgrigole==1 and autorisation.device.domaineApplication.nom=='agricole' %}
                                <td><button type="button" class="btn btn-info"> <a href="{{ path('interdiretemperatureAgrigole', {'id': autorisation.id}) }}">Interdire</a></button>
                                    {% else %}

                                <td> Rien </td>

                                    {% endif %}

                                    {% if autorisation.temperatureSante==0 and autorisation.device.domaineApplication.nom=='santé'  %}
                                <td><button type="button" class="btn btn-info"> <a href="{{ path('autorisetemperatureSante', {'id': autorisation.id}) }}">Autoriser</a></button></td>

                                {% elseif autorisation.temperatureSante==1 and autorisation.device.domaineApplication.nom=='santé' %}
                                <td><button type="button" class="btn btn-info"> <a href="{{ path('interdiretemperatureSante', {'id': autorisation.id}) }}">Interdire</a></button>
                                    {% else %}

                                        <td>rien </td>

                                    {% endif %}

                                {% if autorisation.blood==0 and autorisation.device.domaineApplication.nom=='santé'  %}
                                    <td><button type="button" class="btn btn-info"> <a href="{{ path('autoriseblood', {'id': autorisation.id}) }}">Autoriser</a></button></td>

                                {% elseif autorisation.blood==1 and autorisation.device.domaineApplication.nom=='santé' %}
                                    <td><button type="button" class="btn btn-info"> <a href="{{ path('interdireblood', {'id': autorisation.id}) }}">Interdire</a></button>
                                {% else %}

                                    <td>rien </td>

                                {% endif %}
                                {% if autorisation.heartbeat==0 and autorisation.device.domaineApplication.nom=='santé'  %}
                                    <td><button type="button" class="btn btn-info"> <a href="{{ path('autoriseheartbeat', {'id': autorisation.id}) }}">Autoriser</a></button></td>

                                {% elseif autorisation.heartbeat==1 and autorisation.device.domaineApplication.nom=='santé' %}
                                    <td><button type="button" class="btn btn-info"> <a href="{{ path('interdireheartbeat', {'id': autorisation.id}) }}">Interdire</a></button>
                                {% else %}

                                    <td>rien </td>

                                {% endif %}
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="4">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="collapse collapse-box" id="basic-table" >
                        <div class="code-box">
                            <div class="clearfix">
                                <a href="javascript:;" class="btn btn-primary btn-sm code-copy pull-left"  data-clipboard-target="#basic-table-code"><i class="fa fa-clipboard"></i> Copy Code</a>
                                <a href="#basic-table" class="btn btn-primary btn-sm pull-right" rel="content-y"  data-toggle="collapse" role="button"><i class="fa fa-eye-slash"></i> Hide Code</a>
                            </div>
                            <pre><code class="xml copy-pre" id="basic-table-code">

							</code></pre>
                        </div>
                    </div>
                </div>
                <!-- basic table  End -->
            </div>
        </div></div>

{% endblock %}
