{% extends 'back.html.twig' %}

{% block title %}Client index{% endblock %}

{% block body %}
    <div class="main-container">
        <div class="pd-ltr-20 xs-pd-20-10">
            <div class="min-height-200px">
                <div class="page-header">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="title">
                                <h4>Abonnements Tables</h4>
                            </div>
                            <nav aria-label="breadcrumb" role="navigation">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Abonnements Tables</li>
                                </ol>
                            </nav>
                        </div>
                        <div class="col-md-6 col-sm-12 text-right">
                            <div class="dropdown">
                                <a class="btn btn-primary dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                                    {{ "now"|date("m/d/Y") }}
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- basic table  Start -->
                <div class="pd-20 card-box mb-30">
                    <div class="clearfix mb-20">
                        <div class="pull-left">
                            <h4 class="text-blue h4">Abonnements Table</h4>

                        </div>

                    </div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Domaine D'Application</th>
                            <th>Durée</th>
                            <th>NbrDevice</th>
                            <th>Etat</th>
                            <th>Date d'éxpiration </th>
                            <th>Client</th>

                            <th>Action</th>

                        </tr>
                        </thead>
                        <tbody>

                        {% for abonnement in abonnements %}
                            <tr>
                                {% if abonnement.isVerified==1 %}
                                {% if abonnement.nom =='Personnalisé' %}

                                    <td>{{ abonnement.domaineApplication.nom }}</td>
                                    <td>{{ abonnement.duree }} Mois</td>
                                    <td>{{ abonnement.nbrDevice }} Devices</td>
                                    {% if abonnement.etat==1 %}
                                        <td> En cours </td>
                                    {% else %}
                                        <td> En Pause </td>
                                    {% endif %}
                                    <td>{{ abonnement.dateexp|date('Y-m-d') }}</td>
                                    <td>
                                        {% for e in abonnement.getUser() %}
                                            Email: {{ e.email }}
                                            <br>
                                            Num tel: {{ e.numtel }}
                                            <br>
                                        {% endfor %}
                                    </td><td>
                                    {% if abonnement.etat==1 %}
                                        <button type="button" class="btn btn-info"> <a href="{{ path('app_abonnement_enPause', {'id': abonnement.id}) }}"> En pause</a></button>

                                    {% else %}
                                        <button type="button" class="btn btn-info"> <a href="{{ path('app_abonnement_enCours', {'id': abonnement.id}) }}"> En cours</a></button>
                                    {% endif %}



                                </td>


                                {% else %}
                                    <td>{{ abonnement.offre.domaineApplication.nom }}</td>
                                    <td>{{ abonnement.offre.duree }} Mois</td>
                                    <td>{{ abonnement.offre.nbrDevice }} Devices</td>
                                {% if abonnement.etat==1 %}
                                    <td> En cours </td>
                                {% else %}
                                    <td> En Pause </td>
                                {% endif %}
                                    <td>{{ abonnement.dateexp|date('Y-m-d') }}</td>
                                    <td>
                                    {% for e in abonnement.getUser() %}
                                      Email: {{ e.email }}
                                        <br>
                                        Num tel: {{ e.numtel }}
                                        <br>
                                    {% endfor %}
                                    </td><td>
                                    {% if abonnement.etat==1 %}
                                        <button type="button" class="btn btn-info"> <a href="{{ path('app_abonnement_enPause', {'id': abonnement.id}) }}"> En pause</a></button>

                                    {% else %}
                                        <button type="button" class="btn btn-info"> <a href="{{ path('app_abonnement_enCours', {'id': abonnement.id}) }}"> En cours</a></button>
                                    {% endif %}



                                    </td>
                                {% endif %}
                                {% endif %}

                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="6">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="collapse collapse-box" id="basic-table" >
                        <div class="code-box">
                            <div class="clearfix">
                                <a href="javascript:;" class="btn btn-primary btn-sm code-copy pull-left"  data-clipboard-target="#basic-table-code"><i class="fa fa-clipboard"></i> Copy Code</a>
                                <a href="#basic-table" class="btn btn-primary btn-sm pull-right" rel="content-y"  data-toggle="collapse" role="button"><i class="fa fa-eye-slash"></i> Hide Code</a>
                            </div>
                            <pre><code class="xml copy-pre" id="basic-table-code">

							</code></pre>
                        </div>
                    </div>
                </div>
                <!-- basic table  End -->
            </div>
        </div></div>

{% endblock %}
